[Unit]
Description=Wuzhucoin's distributed currency daemon
After=network.target

[Service]
User=wuzhucoin
Group=wuzhucoin

Type=forking
PIDFile=/var/lib/wuzhucoind/wuzhucoind.pid
ExecStart=/usr/bin/wuzhucoind -daemon -pid=/var/lib/wuzhucoind/wuzhucoind.pid \
-conf=/etc/wuzhucoin/wuzhucoin.conf -datadir=/var/lib/wuzhucoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
